<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme.css" />
    <title>Vue app</title>
  </head>
  <body>
    <div class="container pt-5" id="app">
      <div class="card">
        <h1>{{ title }}</h1>
        <div class="form-control">
            <input type="text" :placeholder="placeholderString" 
              v-model="inputValue"  
              @keypress.enter="addNote"
            />
        </div>
        <button class="btn" @click="addNote">Добавить</button>
        <hr>
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(note, idx) in notes">
            <label>
              <input type="checkbox" class="checkbox" name="check" @click="doneNote(idx)">
              <span class="text">{{ note }}</span>
            </label>
            <button class="btn danger" @click="removeNote(idx)">Удалить</button>
          </li>
        </ul>
        <div v-if="notes.length === 0">Список покупок пуст. Добавьте новые покупки</div>
        <hr>
        <div v-if="buyLast.length !== 0">
          <strong>Вы покупали ранее: {{ buyLast.length }}</strong>
          <ul class="list">
            <li class="list-item" v-for="(item, idx) in buyLast">
              <label>
                <input type="checkbox" class="checkbox checkbox-done" name="check" @click="returnNote(idx)" checked>
                <span class="done text">{{ item }}</span>
              </label>
            </li>
          </ul>
        </div>
        <div v-if="buyLast.length === 0">У вас нет ранее сделанных покупок</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
